@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bruno+Ace&family=Bruno+Ace+SC&family=Kanit:wght@300;700&family=Pathway+Extreme&family=Piazzolla:wght@200;300;400;900&family=Prompt:wght@500&family=Shantell+Sans:wght@500&family=Ubuntu:wght@400;700&family=Unbounded:wght@500&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bruno+Ace&family=Bruno+Ace+SC&family=Kanit:wght@300;700&family=Pathway+Extreme&family=Piazzolla:wght@200;300;400;900&family=Prompt:wght@500&family=Shantell+Sans:wght@500&family=Ubuntu:wght@400;700&family=Unbounded:wght@500&family=Wix+Madefor+Display&display=swap'); */

body {
  /* border: 2px solid red; */
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 0 15rem; */

  /* width: 80%; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Aboreto', cursive;
font-family: 'Bruno Ace', cursive;
font-family: 'Bruno Ace SC', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Pathway Extreme', sans-serif;
font-family: 'Piazzolla', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Shantell Sans', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Unbounded', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* My Code */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-primary-color: #333333;
}

html{
  font-size: 62.5%;
}

a{
  text-decoration: none;
  color: #fff;
}

h1, 
h2,
h3,
h4,
h5,
h6{
  color: #333333;
}


/* navbar */
.navbar-bg{
  background-color: var(--bgcolor);
  /* padding: 2rem 5rem; */
  z-index: 99;
  position: relative;
  /* position: fixed; */
  width: 100%;
  /* top: 0; */
 /* background-color: orange; */
}


.navbar-brand{
  font-size: 3.5rem;
  font-weight: bolder;
}

.navbar li{
  padding: 0 2rem;
}

.navbar li a{
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}

.navbar li a:hover{
  color: var(--primary-color) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}

.btn-style{
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-weight: bold; */
}
.btn-style:first-child{
  margin-right: 2rem;
}

.btn-style:hover{
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border{
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border:hover{
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
}


/* Header Section */
header{
  background-color: var(--bgcolor);
  min-height: 100vh;
  width: 100%;
  padding: 0 5rem;
}

.main-hero-container{
  height: 80vh;
  display: flex;
  /* background-color: aqua; */
}

.main-hero-container h1{
  text-transform: capitalize;
  font-weight: bolder;
}

.main-hero-container h3{
  /* text-transform: capitalize; */
  /* font-weight: lighter; */
  color: var(--text-color);
}

.input-group{
  position: relative !important;
  width: 65%;
}

.form-control-text{
  position: absolute;
  height: 5rem;
  border: none;
  outline-style: none;
  padding-left: 1.5rem !important;
  font-size: 1.5rem;
  font-weight: lighter;
}

.input-group-button{
  position: absolute;
  right: 28%;
  top: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  height: 4rem;
  width: 20%;
  border-radius: 2rem !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.main-hero-para{
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;

  font-family: 'Aboreto', cursive;
font-family: 'Bruno Ace', cursive;
font-family: 'Bruno Ace SC', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Pathway Extreme', sans-serif;
font-family: 'Piazzolla', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Shantell Sans', cursive;
font-family: 'Ubuntu', sans-serif;
font-family: 'Unbounded', cursive;
font-family: 'Wix Madefor Display', sans-serif;
}

.main-herosection-images{
  position: relative;
}

.main-herosection-images img{
  width: 60%;
  height: 75%;
  margin-top: 15rem;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  position: absolute;
}

.main-herosection-images .main-hero-img2{
  position: absolute;
  width: 42%;
  height: 30%;
  left: 55%;
  top: -12%;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
}


/* Work Section */
.work-container{
  width: 80vw;
  padding: 5rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin-top: -10rem;
  background-color: #fff;
  border-radius: 1rem;
}

.work-container .main-heading{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 4rem;
  /* word-spacing: 0.7rem; */
}

.work-container-subdiv{
  padding: 0 4rem;
}

.work-container .sub-heading{
  font-size: 2rem;
  font-weight: normal;
}

.fontawesome-style{
  font-size: 2.3rem;
  color: var(--primary-color);
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: var(--bgcolor);
  display: grid;
  place-items: center;
  text-align: center;
  margin: 2rem auto;
}



/* About us */

.common-section{
  margin: 3rem 0;
  padding: 0 5rem;
  /* border: 2px solid green; */
}

.aboutright{
  /* border: 2px solid rgb(255, 0, 255); */
display: flex;
justify-content: center;
align-items: center;
margin: 0rem 0;
}

.aboutimg{
  height: 80rem;
  
    /* border: 2px solid gold; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f1f5fd; */
}

.our-services-list{
  /* border: 2px solid gold; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-services img{
  width: 50%;
  height: 60%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
}

.our-services .mini-title{
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left;
  font-size: 1.5rem;
}

.our-services .main-heading{
  font-weight: bolder;
}

.our-services-info{
  margin-top: 4rem;
}

.our-services .our-services-number{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

.our-services-data{
  padding-left: 2rem;
}

.our-services .our-services-data p{
  margin: 1rem 0;
}

.our-services-rightside{
  margin-top: 4rem;
}


/* Service Page */
.service-main-container{
  /* margin-top: 5rem; */
  padding: 5rem 5rem;
}

.service-main-container .main-heading{
  margin: 3rem 0;
}

.work-container-subdiv{
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
}

.work-container-subdiv:hover{
  background-color: var(--bgcolor);
  cursor: pointer;
} 

.work-container-subdiv:hover > .fontawesome-style{
  background-color: #fff;
}

.work-container-subdiv .main-hero-para{
  width: 100%;
}

.service-main-container .work-container-subdiv .fontawesome-style{
  text-align: left;
  margin: 2rem 0;
}

@media (min-width: 1400px){
  .service-container  .col-xxl-4{
    flex: 0 0 auto;
    width: 30% !important;
    margin: auto;
  }
}

@media (min-width: 992px){
  .service-container  .col-lg-4{
    flex: 0 0 auto;
    width: 30% !important;
    margin: 2.5rem auto;
  }
}


/* Contact us */
.contactus-section{
  margin: 10rem 0;
}

.contact-leftside img{
  min-width: 80%;
  max-height: 30rem;
  height: auto;
  border-radius: 3rem;
}

.contact-input-feild{
  margin-bottom: 4rem;
}

.form-control{
  height: 5rem;
}

.contact-rightside form .form-control{
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  height: 5rem ;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding-left: 1rem;
  font-weight: lighter;
}

.contact-rightside form .form-check-input{
  width: 2em;
  height: 2em;
}

.form-checkbox-style{
  margin: 4rem 0;
}

.contact-rightside form .main-hero-para{
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0;
  font-weight: lighter;
  width: 75%;
  padding: 0 2rem;
}


/* Footer CSS */
footer{
  padding: 5rem 0;
  background-color: #182334;
  color: #fff;
}

footer h2{
  color: var(--primary-color);
  font-weight: bold;
}

footer li{
  list-style: none;
  font-size: 1.5rem;
  /* font-weight: lighter; */
  color: #fff;
  cursor: pointer;
  margin: 1rem 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer li:hover{
  color: var(--primary-color);
  /* text-shadow: 0px 0px 5px var(--primary-color); */
}


footer .fontawesome-style{
  font-size: 2.3rem;
  color: var(--primary-color);
  background-color: transparent;
  width: 0rem;
  height: 0rem;
  margin: 2rem 0;
  cursor: pointer;
  
}
footer .fontawesome-style:hover{
  transition: all 1s;
  animation: rotatefont 1s linear infinite alternate-reverse;
  color: #fff;
}

@keyframes rotatefont{
  0%{
    /* transform: scale(0.6); */
  }
  100%{
    transform: scale(1.2);
  }
}

footer .main-hero-para{
  margin: 0;
}


/* Error page */
#notfound{
  position: relative;
  height: 100vh;
}

#notfound .notfound{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notfound{
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404{
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1{
  color: #fac0c08e;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound h2{
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p{
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

.notfound a{
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #189cf0;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover{
  background-color: #fff;
  border-color: #189cf0;
  color: #189cf0;
}
@media only screen and (max-width:480px){
  .notfound .notfound-404 h1{
    font-size: 162px;
  }
  .notfound h2{
    font-size: 26px;
  }
}



/* Responsive Css */

@media (max-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
    max-width: 1500px !important;
  }
}

@media (max-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl{
    max-width: 1400px ;
  }
}


@media (max-width:998px){
  .navbar .navbar-collapse{
    margin-top: 1rem;
    background-color: #fff;
    padding: 2rem 1rem;
  }
  .input-group .btn-style{
    font-size: 1.2rem;
  }


  .main-hero-container h1{
    font-size: 2.5rem;
  }
  .main-hero-container .header-left-side{
    margin-top: 40rem;
  }

  .main-hero-para{
    font-size: 1.5rem;
    padding-right: 1rem;
    width: 100%;
  }
  /* .main-hero-container .header-left-side{
    padding-left: 4rem;
    margin-top: 1rem;
  } */
  .main-herosection-images{
    position: relative;
    /* height: 30rem;
    width: 30rem; */
    margin-top: -4rem;
    /* margin-bottom: 5rem; */

  }
  .main-herosection-images .main-hero-img1{
    width: 300px;
    height: 250px;
  }
  .main-herosection-images .main-hero-img2{
    width: 150px;
    height: 120px;
    top: -7rem;
  }

  header{
    min-height: 120vh;
  }

  header h3{
    font-size: 20px;
    text-align: center;
    background-color: greenyellow;
    margin: auto;
  }

  header input{
    background-color: #189cf0;
    /* margin: 0 2rem; */
    font-family: 'Courier New', Courier, monospace;
  }
  header .input-group{
    width: 130%;
    margin: auto;
    /* margin: 0 2rem; */

  }
  header .input-group-button{
    width: 25%;
    font-size: 12px;
  }


  /* .main-hero-container .input-group{
    width: 30rem;
  } */

  /* .header-right-side img{
    width: 60%;
    height: 100%;
    margin-top: 0rem;
  }
  .header-right-side .main-hero-img2{
    position: absolute;
    width: 40%;
    height: 35%;
    left: 50%;
    top: -2%;
    box-shadow: 0.8rem 0rem 0.8rem rgb(0 0 0 / 25%);
  } */

  .work-container{
    margin-top: 15rem;
    padding: 1.5rem;
    /* margin: 10rem auto; */
    /* box-shadow: 0px 0px 10px #182334; */
    width: 94%;
  }


  /* About section */
  .aboutright{
    flex-direction: column;
  }
  .aboutright .aboutright{
    text-align: center;
    background-color: red;
  }
  .aboutimg{
    width: 600px;
    height: 600px;
    margin: 0rem;
    padding: 0;
  }

  /* Service  */
  .service-main-container{
    /* margin: 0 1.5rem; */
    padding: 0;
    width: 100%;
  }
  .service-main-container .work-container-subdiv{
    margin: 1.5rem ;
  }

   .main-heading{
    /* background-color: #333333; */
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
  .contactus-section .btn-style{
    width: 100%;
  }


}
